<br><br>

<div class="mainView">

    <%= image_tag("ball.png", :class => "soccerBall") %>
    <h3>This is a web application that will alleviate the miscommunication between teams, players, and their coaches.</h3>

</div>
