<div class="signUp">
  <h2>Team Sign Up</h2>

<br><br>
  <h3>Team</h3>

  <table>
    <% @obj.each do |a| %>
    <tr>
      <td><input type="radio" name="team"></td>
      <td><label><%= a.team %></label></td>
    </tr>
    <% end %>
  </table>


  <button type="button" name="button">Join Team</button>
  <br><br><br>
  <p>Sign Up by selecting only 1 team</p>
</div>
